@font-face {
  font-family: "Doubleplus";
  src: local("Doubleplus"),
    url("./fonts/Doubleplus-6Yy4g.ttf") format("truetype");
  font-weight: normal;
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #303030;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
  transition: visibility 0.3s;
  /*filter: brightness(1.1);*/
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
#map{
  position: fixed;
  top: 0;
  left: 0;
}
.container{
  width: 100%;
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}